@font-face {
	font-family: 'Opticon';
	font-style: normal;
	font-weight: normal;
	src: local('Opticon  One1'), url('Optio___.woff') format('woff');
}

.cid-rDcMjxkcK7
{
	height: 100vh !important;
	background-position: 80% !important;
	background-size: cover !important;
}

@media (max-width: 992px)
{
	h1.mbr-section-title.display-1
	{
		font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 50rem) / (48 - 20))) !important;
    	line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 40rem) / (48 - 20))));
	}

	.first-title
	{
		font-size: 1.7rem !important;
	}

	.second-title
	{
		font-size: 2.2rem !important;
	}
}

/*@media (max-width: 600px)
{
	h1.mbr-section-title.display-1
	{
		font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 26rem) / (48 - 20))) !important;
    	line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 23rem) / (48 - 20))));
	}
}*/

@media (max-width: 800px)
{
	h1.mbr-section-title.display-1
	{
		font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 30rem) / (48 - 20))) !important;
    	line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 40rem) / (48 - 20))));
	}

	.second-title
	{
		font-size: 2rem !important;
	}
}

@media (max-width: 475px)
{
	.first-title
	{
		font-size: 1.45rem !important;
	}

	.second-title
	{
		font-size: 1.65rem !important;
	}
}

@media (max-width: 360px)
{
	.first-title
	{
		font-size: 1.2rem !important;
	}

	.second-title
	{
		font-size: 1.4rem !important;
	}
}



/*----------------------------------------------------------------------------*/


@media (min-width: 639px) and (max-width: 800px)
{
	h1.mbr-section-title.display-1
	{
		font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 39rem) / (48 - 20))) !important;
    	line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 40rem) / (48 - 20))));
	}
}


.mbr-arrow a:hover {
	color: #ff3366 !important;
}

@media (max-width: 767px)
{
    .cards-container .align-left
    {
        text-align: left !important;
    }
}

/*-----------------------------------------------------------------------------------*/

.Tright
{
	text-align: right !important;
}

.cid-rEl2F9HzUw
{
	height: 100% !important;
}

.thank-main-message
{

}